img {
    display: block;
    height: 210px;
    width: 140px;
}

span {
    display: block;
}

.h1 {
    font-size: 14px;
    font-weight: 700;
}
.p1 {
    font-size: 12px;
}
.p2 {
    color: #727b84;
    font-size: 12px;
}

.rate {
    display: inline;
    color: #fa595f;
}

/* .book-block-wrap {
        height: 280px;
    width: 160px;
} */