.profile_show_wrap {
    display: flex;
    flex-direction: column;
}

#user_name {
    font-size: large;
    font-weight: 700;
}
#uid {
    color: #727b84;
    font-size: large;
    font-weight: 300;
}