.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f6f6f6;
}

.header_wrap {
    height: 72px;
    background: #ffffff;
}

.content_wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin:  10px 50px;
    background-color: #fff;
}

.menu_wrap {
    border-bottom: #000000 solid 2px;
}

.outlet_wrap {
    flex: 1;
    padding: 20px;
}